<div id="pageWrapper" class="page-wrapper">
<div class="slider">

<div class="page">

<h2>Device</h2>
<div class="description">The device object describes the device's hardware and software.</div>
<hr/>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Property</th>
        <th>Value</th>
    </tr>
    </thead>
    <tr><td>device.name</td><td><%= device.name %></td></tr>
    <tr><td>device.cordova</td><td><%= device.cordova %></td></tr>
    <tr><td>device.platform</td><td><%= device.platform %></td></tr>
    <tr><td>device.uuid</td><td><%= device.uuid %></td></tr>
    <tr><td>device.version</td><td><%= device.version %></td></tr>
</table>

</div>
</div>
</div>